<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>liitlefile-web</display-name>

    <!--   配置servlet,处理文件请求 需要参数:

安全控制开启时:
  s token token中包含 文件url和处理类型
  文件访问链接生成参见 @see com.taoyuanx.littlefile.web.FileHandler.signFileUrl
    具体实现 参见com.taoyuanx.littlefile.web.FileHandler
   	 如: 下载链接:http://localhost:8080/littlefile-web/down?s=$token
   		 查看链接:http://localhost:8080/littlefile-web/down?s=$token

  未开启时:
  t 文件类型 0下载 1查看
  f 文件路径
  如: 下载链接:http://localhost:8080/littlefile-web/down?t=0&f=path
   		 查看链接:http://localhost:8080/littlefile-web/down?t=1&f=path
    -->
  <servlet>
  <servlet-name>downLoadServlet</servlet-name>
  <servlet-class>com.taoyuanx.littlefile.web.DownLoadServlet</servlet-class>
   <init-param>
      <param-name>liitle_conf</param-name>
      <param-value>classpath:littlefile.properties</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
  <servlet-name>downLoadServlet</servlet-name>
  <url-pattern>/down</url-pattern>
  </servlet-mapping>
</web-app>